

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: rgb(251, 255, 0);
    line-height: 3; 
    text-align: center;
    font-size: 17px;
    color: black;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    font-size: 20px;
}

canvas {
    border: rgb(255, 255, 255) 4px ridge;
    animation-name: S;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes S {
    from{box-shadow: 1px 1px 35px rgb(251, 255, 0);}
    to{box-shadow: 1px 1px 35px rgb(255, 0, 212);} 
}